<div class="container-fluid mt-2">
  <div class="row bg-dark p-2 text-center">
    <div class="col-sm text-white">
      Название задачи
    </div>
    <div class="col-sm text-white">
      Категория
    </div>
    <div class="col-sm text-white">
      Дата начала
    </div>
    <div class="col-sm text-white">
      Дата окончания
    </div>
  </div>
  <div class="row bg-secondary p-1 text-center">
    <div class="col-sm text-white">
      Test 1
    </div>
    <div class="col-sm text-white">
      Category 1
    </div>
    <div class="col-sm text-white">
      01.02.2002
    </div>
    <div class="col-sm text-white">
      01.03.2002
    </div>
  </div>
</div>
