<div class="container-fluid mt-2">
  <div class="container-fluid p-0">
    <h2>Список задач</h2>
    <button class="btn btn-success" (click)="addTask()">Добавить задачу</button>
    <app-statistic
      [tasksAll]="getTaskListSize()"
      [tasksPlanned]="getTasksAmountByStatus('Planed')"
      [tasksFinishing]="getTasksAmountByStatus('Finish')"
      [tasksOverdue]="getTasksAmountByStatus('Overdue')"
    ></app-statistic>
  </div>
  <div class="row bg-dark p-2 text-center">
    <div class="col-sm text-white">l
      Название задачи
    </div>
    <div class="col-sm text-white">
      Категория
    </div>
    <div class="col-sm text-white">
      Дата начала
    </div>
    <div class="col-sm text-white">
      Дата окончания
    </div>
    <div class="col-sm text-white">
      <div class="mr-2 d-inline">Статус</div>
      <input class="d-inline ml-3" type="checkbox" aria-label="status" (change)="filterTasks($event)">
    </div>
  </div>
  <app-list-row *ngFor="let task of tasks"
    [name]="task.name"
    [category]="task.category"
    [dateStart]="task.dateStart"
    [dateEnd]="task.dateEnd"
    [status]="task.status"
    (deleteTaskEmitter)="deleteTaskFromArray($event)"
  ></app-list-row>
</div>
