<div class="row p-1 text-center" [ngClass]="task.status == 'Overdue' ? 'bg-danger' : id % 2 == 0 ? 'bg-secondary' : 'dark-green'">
  <div class="col-sm text-white">
    {{task.name}}
  </div>
  <div class="col-sm text-white">
    {{task.category}}
  </div>
  <div class="col-sm text-white">
    {{task.dateStart}}
  </div>
  <div class="col-sm text-white">
    {{task.dateEnd}}
  </div>
  <div class="col-sm text-white">
    {{task.status}}
    <button class="btn-sm btn-danger" (click)="deleteTask()">Удалить задачу</button>
  </div>
</div>
